name: Build exe for windows and add to release page

on:
  push:
#    tags:
#      - "v*"

permissions:
  contents: write

jobs:
  windows-release:
    runs-on: windows-latest

    env:
      APP_NAME: Capsy
      JAR_NAME: change_lang
      MAIN_CLASS: org.chel.Main
      JPACKAGE_TYPE: exe
      JAVA_TOOL_OPTIONS: --enable-native-access=ALL-UNNAMED

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup jdk 25
        uses: actions/setup-java@v5
        with:
          distribution: oracle
          java-version: 25
          cache: maven

      - name: Install Inno setup
        shell: powershell
        run: |
          choco install innosetup -y

      - name: Build fat jar
        shell: powershell
        run: |
          mvn -B -DskipTests package
          dir target

      - name: Package with jpackage
        shell: powershell
        run: |
          New-Item -ItemType Directory -Force dist | Out-Null
          $tag = "${{ github.ref_name }}"          
          $ver = $tag -replace '^v',''
          $refType = "${{ github.ref_type }}"   # "tag" или "branch"
          $refName = "${{ github.ref_name }}"   # "v1.0.0" или "main"
          
          if ($refType -eq "tag") { `
          $ver = ($refName -replace '^v','') `
          } else { `
            $ver = "1.0.0" `
          }
          
          jpackage --type $env:JPACKAGE_TYPE `
            --name $env:APP_NAME `
            --app-version $ver `
            --input target `
            --main-jar "$env:JAR_NAME.jar" `
            --main-class $env:MAIN_CLASS `
            --dest dist `
            --win-menu --win-shortcut --win-per-user-install `
            --java-options "--enable-native-access=ALL-UNNAMED"
          
          $out = Get-ChildItem dist\*.exe | Select-Object -First 1
          if (-not $out) { throw "Installer not found" }
          $newName = "$env:APP_NAME-$tag.exe"
          Move-Item $out.FullName (Join-Path dist $newName) -Force

      - name: Upload to releases
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          file: dist/${{ env.APP_NAME }}-${{ github.ref_name }}.exe
          asset_name: ${{ env.APP_NAME }}-${{ github.ref_name }}.exe
          overwrite: true